
nav {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 2px solid #ddd;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.nav-title {
  margin-right: auto;
}

.mode-select {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.main-content {
  height: 100vh - 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.content h2 {
  font-size: 1.8rem;
}

.content button {
  width: 30%;
  margin: 1rem auto;
  padding: .8rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 600;
  border: 2px solid #000;
  border-radius: .6rem;
  transition: all ease-in-out .3s;
}

.content button:hover {
  background: #8a2be2;
  border: 2px solid white;
  color: white;
}

@media (max-width: 780px) {
  .content {
    width: 80%;
  }
  .content button {
    width: 60%;
  }
}

@media (min-width: 781px){
  .content button {
    width: auto;
  }
}

@media (max-width: 540px) {
  .content {
    width: 100%;
  }
  nav {
    padding: 1rem;
  }
  .content button {
    width: 40%;
    font-size: 1rem;
  }
  .content h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .content button {
    width: 90%;
  }
  .content {
    text-align: center;
  }
  .mode-select {
    gap: 1rem;
  }
}