
nav {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  border-bottom: 2px solid #ddd;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.nav-title {
  margin-right: auto;
}

.mode-select {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-container {
  height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column
}

.content h2 {
  font-size: 1.8rem;
}

.content button {
  width: 80%;
  margin: 1rem auto;
  padding: .5rem 2rem;
  cursor: pointer;
}